# Main purpose of this file is to instantiate an empty directory in git
# but also can be used to ignore unnecessary files.
# Feel free to delete once there is a file in the directory to take its place.